<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Una carrera en la moda</title>
    <meta content="Página informativa sobre libros" name="description" />
    <link rel="stylesheet" href="../styles/style.css" type="text/css" media="screen" /> 
  </head>
  <body>  
    <header>
      <div><img class="wobble-hor-bottom" src="../img/logo.png" alt="Logo la madriguera" /></div>
      <div class="titulo">LA MADRIGUERA</div>
      <div>
        <nav>
          <a href="../index.html">Inicio</a>
          <a href="./moda.html" id="selected">Moda</a>
          <a href="./fantasia.html">Fantasía</a>
        </nav>
      </div>
    </header>
  <main>
    <section>
        <article class="articleModa">
            <img src="../img/carrera_moda.jpg" alt="Una carrera en la moda"/>
            <div class="div">
                <h2>Una carrera en la moda</h2>
                <h3><a class="link" href="https://es.wikipedia.org/wiki/Bill_Cunningham_(fot%C3%B3grafo)" target="_blank">CUNNINGHAM, BILL</a></h3>
                <p><em>TRADUCIDO POR <u>JAVIER GÓMEZ PELÁEZ</u></em></p>
                <p>Más conocido por ser el fotógrafo inventor del street style y por su imagen icónica, pocos saben que <u>Bill Cunningham</u>, en su juventud, fue sombrerero de éxito en el Nueva York de los años cincuenta y más tarde cronista de moda para algunos periódicos americanos, entre ellos el <a class="link" href="https://wwd.com/" target="_blank">WWD</a>.</p>
                <p>Estas son las memorias póstumas de aquella época fundamental de su vida. En ellas narra su lucha por hacerse un nombre en la moda manteniéndose fiel a su intuición artística. Nos ofrece su particular visión sobre la industria, en un momento en que la moda se convierte en el instrumento para escalar en la sociedad. Por estas páginas vemos pasar a sus excéntricas clientas, los descarados copiones de la Séptima avenida, las caprichosas editoras de moda… hasta llegar al clímax en un desfile de Balenciaga.</p>
                <p>Los recuerdos de <u>Bill Cunningham</u> están llenos del entusiasmo, el coraje, la voluntad y la diversión que caracterizaban a su autor, quien eleva lo cotidiano a una épica lucha entre la ética creativa individual y la actitud conservadora de la sociedad.</p>
                <p><q><u>Bill Cunningham</u> ha dejado unas memorias que son, por decirlo con una de sus palabras favoritas, maravillosas.</q>
                <u>Robin Givhan</u>, <a class="link" href="https://www.washingtonpost.com/entertainment/books/bill-cunningham-left-behind-a-memoir-it-is-to-use-one-of-his-favorite-words-marvelous/2018/09/05/3c2fb1f8-ad16-11e8-b1da-ff7faa680710_story.html?noredirect=on&utm_term=.4b78f8d9de04" target="_blank">The Washington Post</a>.</p>
              </div>
        </article>
        <div class="volver">
            <a href="./moda.html"><img src="../img/volver.jpg"></a>
        </div>
    </section>
  </main>
  <footer>
    <div class="footer">
      <div class="tituloFooter">LA MADRIGUERA</div>
      <div><img src="../img/clip-path.jpg" class="clipPath" alt="clipPath"></div>
      <p>© 2020-2021 Maria Magdalena Freixa Torres.</p>
      <p>Trabajo realizado para la asignatura Herramientas HTML y CSS. Primer semestre del curso 2020-2021</p>
      <p>Información cedida por: <a href="https://www.superflua.es/" target="_blank" class="link">Editorial Superflua</a></p>
    </div>
    </footer>
  </body>
</html>