<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Fantasia</title>
    <meta content="Página informativa sobre libros" name="description" />
    <link rel="stylesheet" href="../styles/style.css" type="text/css" media="screen" /> 
  </head>
  <body>  
    <header>
      <div class="wrapper">
        <div class="titulo">LA MADRIGUERA</div>
        <nav>
          <a href="../index.html">Inicio</a>
          <a href="./aventuras.html">Aventuras</a>
          <a href="./fantasia.html" id="selected">Fantasía</a>
          <a href="./nosotros.html">Sobre nosotros</a>
        </nav>
      </div>
    </header>
   <main>
    <div class="containerLibros">
      <div class="item">
        <ul id="lista">
          <li><a href="#">Harry Potter y las Reliquias de la muerte</a></li>
          <li><a href="#">Libro 2</a></li>
          <li><a href="#">Libro 3</a></li>
          <li><a href="#">Libro 4</a></li>
          <li><a href="#">Libro 5</a></li>
        </ul>
      </div>
  </main>
  <footer>
    <div class="footer">
      <p>© 2020-2021 Maria Magdalena Freixa Torres.</p>
      <p>Trabajo realizado para la asignatura Herramientas HTML y CSS. Primer semestre del curso 2020-2021</p>
    </div>
    </footer>
  </body>
</html>