<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Fantasia</title>
    <meta content="Página informativa sobre libros" name="description" />
    <link rel="stylesheet" href="../styles/style.css" type="text/css" media="screen" /> 
    <link rel="icon" type="../image/favicon.ico" href="../img/favicon.ico" />
  </head>
  <body>  
    <header>
      <div><img class="wobble-hor-bottom" src="../img/logo.png" alt="Logo la madriguera" /></div>
      <div class="titulo">LA MADRIGUERA</div>
      <div>
        <nav id="navLista">
          <a href="../index.html">Inicio</a>
          <a href="./moda.html">Moda</a>
          <a href="./fantasia.html" id="selected">Fantasía</a>
        </nav>
      </div>
    </header>
   <main>
    <section class="containerLibros">
      <div class="item">
        <ul id="lista" >
          <li>
            <img class="imagenes" src="../img/elhobbit.jpg" alt="El Hobbit"/>
            <h2>El Hobbit</h2>
            <p>Smaug parecía profundamente dormido cuando Bilbo espió una vez más desde la entrada. 
              ¡Pero fingía estar dormido! ¡Estaba vigilando la entrada del túnel!... Sacado de su cómodo agujero-hobbit por Gandalf 
              y una banda de enanos, Bilbo se encuentra de pronto en medio de una conspiración que pretende apoderarse del tesoro de Smaug el Magnífico...</p>
            <a href="./hobbit.html" class="link">Leer más</a>
          </li>
          <li>
            <img class="imagenes" src="../img/elnombredelviento.jpg" alt="El nombre del viento"/>
            <h2>El nombre del viento</h2>
            <p>En una posada en tierra de nadie, un hombre se dispone a relatar, por primera vez, la auténtica historia de su vida. 
              Una historia que únicamente él conoce y que ha quedado diluida tras los rumores, las conjeturas y 
              los cuentos de taberna que le han convertido en un personaje legendario a quien todos daban ya por muerto: Kvothe... 
              músico, mendigo, ladrón, estudiante, mago, héroe y asesino.</p>
              <a href="#" class="link">Leer más</a>
          </li>
          <li>
            <img class="imagenes" src="../img/eltemordeunhombresabio.jpg" alt="El temor de un hombre sabio"/>
            <h2>El temor de un hombre sabio</h2>
            <p>"Todo hombre sabio teme tres cosas: la tormenta en el mar, la noche sin luna y la ira de un hombre amable." 
              El hombre había desaparecido. El mito no. Músico, mendigo, ladrón, estudiante, mago, trotamundos, heroe y asesino, Kvothe había borrado su rastro. 
              Y ni siquiera ahora que le han encontrado, ni siquiera ahora que las tinieblas invaden los rincones del mundo, está dispuesto a regresar.
              Pero su historia prosigue, la aventura continúa, y Kvothe seguirá contándola para revelar la verdad tras la leyenda."</p>
            <a href="#" class="link">Leer más</a>
          </li>
        </ul>
      </div>
    </section>
  </main>
  <footer>
    <div class="footer">
      <div class="tituloFooter">LA MADRIGUERA</div>
      <picture>
        <source class="clipPath" srcset="../img/clip-path.webp" type="image/webp">
        <img class="clipPath" src="../img/clip-path.jpg" alt="clipPath">
      </picture>
      <p>© 2020-2021 Maria Magdalena Freixa Torres.</p>
      <p>Trabajo realizado para la asignatura Herramientas HTML y CSS. Primer semestre del curso 2020-2021</p>
      <p>Textos elaborados a partir de la información consultada <a href="https://es.wikipedia.org/wiki/" target="_blank" class="link">aquí</a></p>
    </div>
    </footer>
  </body>
</html>