<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>El hobbit</title>
    <meta content="Página informativa sobre libros" name="description" />
    <link rel="stylesheet" href="../styles/style.css" type="text/css" media="screen" /> 
  </head>
  <body>  
    <header>
      <div><img class="wobble-hor-bottom" src="../img/logo.png" alt="Logo la madriguera" /></div>
      <div class="titulo">LA MADRIGUERA</div>
      <div>
        <nav>
          <a href="../index.html">Inicio</a>
          <a href="./moda.html">Moda</a>
          <a href="./fantasia.html" id="selected">Fantasía</a>
        </nav>
      </div>
    </header>
  <main>
    <section>
        <article class="articleFantasia">
            <img src="../img/elhobbit.jpg" alt="El Hobbit"/>
            <div class="div">
                <h2>El Hobbit</h2>
                <h3><a class="link" href="https://es.wikipedia.org/wiki/J._R._R._Tolkien" target="_blank"> J.R.R TOLKIEN</a></h3>
                <p>La historia comienza un día en el que el hobbit Bilbo Bolsón, habitante de la Comarca, recibe la inesperada visita del mago Gandalf y de una compañía de trece enanos, liderada por Thorin Escudo de Roble, y compuesta por Balin, Glóin, Bifur, Bofur, Bombur, Dwalin, Ori, Dori, Nori, Óin, Kíli y Fíli.15​ Los enanos necesitaban un miembro más en el grupo, un saqueador experto, para poder llevar a cabo su plan: alcanzar Erebor, derrotar al dragón Smaug y recuperar el reino y su tesoro. Gandalf les había recomendado para esta misión a Bilbo y de esta forma el hobbit se ve envuelto en la aventura.</p>
                <p>De camino a las Montañas Nubladas, la compañía entró en el Bosque de los Trolls. Allí se encontraron con un grupo de tres trolls de los que se libraron gracias a la astucia de Gandalf. El mago, conociendo el punto débil de estas criaturas, los distrajo hasta el amanecer, momento en el cual se convirtieron en piedra por el efecto de la luz del sol. En la guarida de los trolls, la compañía encontró unas espadas del antiguo reino élfico de Gondolin. Thorin cogió a Orcrist, la espada de Ecthelion, capitán de la ciudad, y Gandalf a Glamdring, la espada que pertenecía al rey Turgon. A Bilbo le dio una daga (aunque él podía usarla como espada por su estatura) a la que llamó Dardo. Poco después, llegaron a Rivendel, la tierra gobernada por el medio elfo Elrond, quien les ayudó a descifrar el mapa del tesoro de Smaug y las inscripciones de runas que tenían las espadas.</p>
                <p>Ya en las Montañas Nubladas, una tormenta les obligó a resguardarse y fueron a parar a una caverna llena de trasgos que les persiguieron, haciendo que Bilbo se perdiese. Tras encontrar un misterioso anillo, el hobbit llegó a la orilla de un lago subterráneo, donde vivía una criatura llamada Gollum. Este le desafió a un juego de acertijos. En el caso de que Gollum ganara, se comería a Bilbo, y si no, guiaría al hobbit hasta la salida. Tras perder, Gollum se negó a cumplir su promesa y fue en busca de su anillo para matar a Bilbo, pero este había descubierto que la joya le volvía invisible cuando se la ponía y gracias a ello logró escapar y reunirse con sus compañeros. De nuevo un grupo de trasgos y huargos les persiguieron, pero gracias a que las águilas gigantes les rescataron, consiguieron huir.</p>
                <blockquote>
                  <p>Cuando un enano, aún el más respetable, siente en el corazón el deseo de oro y joyas, puede transformarse de pronto en una criatura audaz, y llegar a ser violenta</p>
                  <span>Bilbo Bolsón</span>
                </blockquote>
                <p>Habiendo descendido ya de las montañas, la compañía llegó a la casa de Beorn, un hombre con la capacidad de convertirse en oso. Este les prestó armas y ponis para que pudieran llegar al Bosque Negro. Una vez allí, Gandalf tuvo que dejarlos por un tiempo. Dos veces fueron apresados los enanos, una por las arañas gigantes y otra por los elfos del bosque, gobernados por el rey Thranduil, pero Bilbo, que escapó haciéndose invisible con el anillo, logró rescatarles.</p>
                  <div class="video-container">
                    <div class="video-responsive">
                        <iframe width="420" height="315" src="https://www.youtube.com/embed/sI8OQRXhcZE" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
        </article>
        <div class="volver">
            <a href="./fantasia.html"><img src="../img/volver.jpg"></a>
        </div>
    </section>
  </main>
  <footer>
    <div class="footer">
      <p>© 2020-2021 Maria Magdalena Freixa Torres.</p>
      <p>Trabajo realizado para la asignatura Herramientas HTML y CSS. Primer semestre del curso 2020-2021</p>
      <p>Información consultada <a href="https://es.wikipedia.org/wiki/El_hobbit" target="_blank" class="link">aquí</a></p>
    </div>
    </footer>
  </body>
</html>