<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Moda</title>
    <meta content="Página informativa sobre libros" name="description" />
    <link rel="stylesheet" href="../styles/style.css" type="text/css" media="screen" /> 
  </head>
  <body>  
    <header>
      <div><img class="logo" src="../img/logo.png" alt="Logo la madriguera" /></div>
      <div class="titulo">LA MADRIGUERA</div>
      <div>
        <nav>
          <a href="../index.html">Inicio</a>
          <a href="./moda.html" id="selected">Moda</a>
          <a href="./fantasia.html">Fantasía</a>
        </nav>
      </div>
    </header>
  <main>
    <section class="containerLibros">
      <div class="item">
        <ul id="lista">
          <li>
            <img class="imagenes" src="../img/carrera_moda.jpg" alt="Una carrera en la moda"/>
            <h2>Una carrera en la moda</h2>
            <p>Más conocido por ser el fotógrafo inventor del street style y por su imagen icónica, pocos saben que Bill Cunningham, 
              en su juventud, fue sombrerero de éxito en el Nueva York de los años cincuenta y más tarde cronista de moda para algunos periódicos americanos.</p>
            <a href="./carrera_moda.html" class="link">Leer más</a>
          </li>
          <li>
            <img class="imagenes" src="../img/Saint_Laurent.jpg" alt="Saint Laurent"/>
            <h2>Saint Laurent, chico malo</h2>
            <p>Por primera vez se publica en España una biografía de Yves Saint Laurent. 
              Para desocultar al modista, la autora tuvo que sortear el veto impuesto por Pierre Bergé y recurrir al testimonio de las mujeres que le rodearon.</p>
            <a href="#" class="link">Leer más</a>
          </li>
          <li>
            <img class="imagenes" src="../img/Fashionopolis.jpg" alt="Fashionopolis"/>
            <h2>Fashionopolis - El precio de la moda rápida y el futuro de la ropa</h2>
            <p>"Fashionopolis es el nombre que Dana Thomas da al sistema de producción y consumo de moda en la era de la globalización. 
              Seamos conscientes o no, vivimos inmersos en esa ciudad simbólica que contiene todo lo malo y lo bueno. Lo malo ya lo conocemos.</p>
            <a href="#" class="link">Leer más</a>
          </li>
          <li>
            <img class="imagenes" src="../img/diana_vreeland.jpg" alt="Diana Vreeland"/>
            <h2>D.V. VREELAND, DIANA</h2>
            <p>La leyenda de Diana Vreeland está fundada en la revolución que supuso su visionario concepto de la edición y 
              las exposiciones de moda, que en ambos casos marca un antes y un después y cuya influencia llega hasta nuestros días.</p>
            <a href="#" class="link">Leer más</a>
          </li>
          <li>
            <img class="imagenes" src="../img/dioses_y_reyes.jpg" alt="Dioses y reyes"/>
            <h2>Dioses y reyes - Ascenso y caída de Alexander McQueen y John Galliano</h2>
            <p>Alexander McQueen y John Galliano tuvieron vidas similares. Ambos provenían de familias humildes, se criaron en un entorno hostil
              a su personalidad, estudiaron en la escuela Saint Martins y los dos, gracias a su talento y tesón, 
              crearon con éxito sus propias marcas y triunfaron en Dior y Givenchy.</p>
            <a href="#" class="link">Leer más</a>
          </li>
        </ul>
      </div>
    </section>
  </main>
  <footer>
    <div class="footer">
      <p>© 2020-2021 Maria Magdalena Freixa Torres.</p>
      <p>Trabajo realizado para la asignatura Herramientas HTML y CSS. Primer semestre del curso 2020-2021</p>
      <p>Información cedida por: <a href="https://www.superflua.es/" target="_blank" class="link">Editorial Superflua</a></p>
    </div>
    </footer>
  </body>
</html>